<h1>Listing quests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number of questions</th>
    <th>Difficulty</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quests.each do |quest| %>
  <tr>
    <td><%= quest.name %></td>
    <td><%= quest.number_of_questions %></td>
    <td><%= quest.difficulty %></td>
    <td><%= link_to 'Show', quest %></td>
    <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
    <td><%= link_to 'Destroy', quest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quest', new_quest_path %>
