<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :quest_id %><br />
    <%= f.number_field :quest_id %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :scores %><br />
    <%= f.number_field :scores %>
  </div>
  <div class="field">
    <%= f.label :step_id %><br />
    <%= f.number_field :step_id %>
  </div>
  <div class="field">
    <%= f.label :step_count %><br />
    <%= f.number_field :step_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
