<h1>Listing games</h1>

<table>
  <tr>
    <th>User</th>
    <th>Quest</th>
    <th>Start time</th>
    <th>Scores</th>
    <th>Step</th>
    <th>Step count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.user_id %></td>
    <td><%= game.quest_id %></td>
    <td><%= game.start_time %></td>
    <td><%= game.scores %></td>
    <td><%= game.step_id %></td>
    <td><%= game.step_count %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
