<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @game.user_id %>
</p>

<p>
  <b>Quest:</b>
  <%= @game.quest_id %>
</p>

<p>
  <b>Start time:</b>
  <%= @game.start_time %>
</p>

<p>
  <b>Scores:</b>
  <%= @game.scores %>
</p>

<p>
  <b>Step:</b>
  <%= @game.step_id %>
</p>

<p>
  <b>Step count:</b>
  <%= @game.step_count %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
