<!DOCTYPE html>
<html>
  <head>
    <title>GAME</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="site">
      <div class="header">
        <%= image_tag('34.jpg', :width => 960, :height => 250) %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <ul class="hmenu">

      </ul>
      <div class="round">
      <div class="sidebar"><div class="content-wrapper">
           <%= content_for?(:sidebar) ? yield(:sidebar) : "nic nema" %>
          <br/>
        </div>
      </div>    
      <div class="rightebar"><div class="content-wrapper">

           <%= content_for?(:rightebar) ? yield(:rightebar) : "nic nema" %>
                   <br/>
        </div> 
      </div>
      <div class="content"><div class="content-wrapper"><%= yield %></div>
        </div>

      </div>
    </div>
    <div class="footer", style="color: yellow">&copy; Pustomyty Dream Team 2011</div>

  </body>
</html>

